<div class="content">
  <div fxLayout="row wrap" fxLayout.xs="column">
    <div fxFlex [style.margin]="'20px'">
      <mat-card [style.min-width]="'200px'">
        <mat-card-header>
          <mat-card-title>
            <h1>About</h1>
          </mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p><strong>Student : </strong> Okan Atas</p>
          <p><strong>ID # : </strong> 130627193</p>
          <p><strong>Purpose : </strong> WEB 422 - Assignmet 6</p>
          <p><strong>Date : </strong> April 13, 2021</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
